@import "tailwindcss";

@layer components {
  .section-title {
    @apply text-[clamp(42px,5.5vw,72px)] leading-[1.05] tracking-[-0.04em];
  }
}

:root {
  background-color: #FDFDFD;
}


body {
  max-width: 1920px;
  margin: 0 auto;
}

html, body {
  background-color: #FDFDFD;
}